.card{

width: 50%;
height: 200px;
transform: rotate(-90deg);
transform: translateY(20%);
flex-shrink: 0;
left: 2%;
text-align: left;
display: flex;
flex-direction: row;
padding: 1rem;
margin: 1%;
border-radius: 16px;
background: #B2EDD3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: "Lucida Console", "Courier New", monospace;
line-height: 200% ;

}


.main_number {
    /* margin-left: auto; */
    margin-left: 130px;
    margin-top: 50px;
    color: blue;
    font-size: 300%;
}
.top_text{
    display: flex;
    flex-direction: column;
}
.top_text_header {
    font-size: large;
}
.top_text_sub{
    font-size: small;
}

.right_text{
    margin-left: auto;
    margin-top: 30px;
    line-height: 40px;
    padding: 10px;
    font-size: 110%;
}
