@import url('https://fonts.cdnfonts.com/css/common-pixel');
@import url('https://fonts.cdnfonts.com/css/ds-digital');
@import url('https://fonts.cdnfonts.com/css/dollar-bill');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@800&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&display=swap');

/* .allC{ */
    /* font-family: 'Orbitron', sans-serif; */

    /* font-family: 'Oswald', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* } */



.profile_card{

    color: #F6F1F1;
width: 690px;

width: 890px;

height: 150px;

flex-shrink: 0;
left: 2%;
text-align: left;
display: flex;
flex-direction: row;
padding: 1rem;
margin: 10px;
margin-left:20px ;
border-radius: 16px;
margin-right: 24.5px;
background-image: linear-gradient(#1b549f, #5c9ad1);
margin-bottom: 20px;
margin-top: 0px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding-right: 22.5px;
/* font-family: "Lucida Console", "Courier New", monospace; */
/* font-family: 'DS-Digital', sans-serif; */

/* font-family: 'Handjet', cursive; */
/* font-family: 'Orbitron', sans-serif; */



/*line-height: 100px ;
*/
}


.main_numberC {
    padding-left: 150px;
    padding-top: 10px;
    color: #F6F1F1;
    font-size: 30px;
    font-weight: bold;
}
.top_textC{
    display: flex;
    flex-direction: column;
}
.top_text_headerC {
    font-size: large;
    font-weight: bold;
}
.top_text_subC{
    font-size: small;
}

.right_textC{
    margin-left: auto;
    line-height: 40px;
    padding: 10px;
    font-size: 110%;
    padding-right: 40px;
    padding-top: 20px;
}
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.owned_card{
    /* height: 400px; */
    width: 280px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image: linear-gradient(#1b549f, #5c9ad1);
    color: #F6F1F1;
    margin-top: 0px; 
    margin-left: 20px;
    margin-bottom: 0px;
    margin-right: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.headerO{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    margin-top: 0px;
    margin-right: 0px;
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    border-bottom: 1px solid;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nameO{
    font-size: 15px;
    font-weight: bold;
    /* font-family: ; */
}
.status{
    /* color: rgb(33, 191, 115); */
    color: #00d9ff
}

.owned{
    font-size: 20px;
    font-weight: bold;
}  






.bottom_row{

    margin-top: -90px;
    margin-left: 200px;
}




.amount_input [type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 40px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 8px solid #4a5a7e;
    background-color: #a7bceb;
    resize: none;
    transition: width 0.3s ease-in-out;
    box-sizing: border-box;
    
    height: 80px;
    width: 50%;

    font-size: 20pt;
    /* margin-right: 27.5%; */
    margin-top: 3%;
    /* transform: translateX(10px); */
}
.amount_inputt [type=text]:focus {
    width: 27%;
}
.amount_input{

    ::-webkit-input-placeholder{
          font-size: 20px !important;
          font-family: 'Orbitron', sans-serif;
      } 
  } 












.buy {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #09ff00;
    

    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .buy {
      padding: 19px 32px;
      
    }
  }
  
  .buy:before,
  .buy:after {
    border-radius: 80px;
    
  }
  
  .buy:before {
    background-image: linear-gradient(92.83deg, #15c223 0, #00ff22 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
    
    
  }
  
  .buy:after {
    background-color: initial;
    background-image: linear-gradient(#9df38c 0, #ffffff 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
    
  }
  
  .buy:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(74, 255, 38) 0%, rgb(19, 249, 88)100%);
    
  }
  
  .buy:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  
  .buy:active:not(:disabled) {
    color: #ccc;
  }
  
  .buy:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #26ff79 0, #13f973 100%);
  }
  
  .buy:active:not(:disabled):after {
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .buy:disabled {
    cursor: default;
    opacity: .24;
  }






  .BUY{
    background-color: initial;
    background-image: linear-gradient(#ff4823 0, #0c0d0d 100%);
    overflow: hidden;

    padding: 19px 26px;
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    min-height: 64px;

    

  }

  @media (min-width: 768px) {
    .BUY {
      padding: 19px 32px;
      background: linear-gradient(92.83deg, rgb(74, 255, 38) 0%, rgb(19, 249, 88)100%); 
    }
  }
  
  .BUY:before,
  .BUY:after {
    border-radius: 80px;
    
  }

/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */





.sell {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #09ff00;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .sell {
      padding: 19px 32px;
    }
  }
  
  .sell:before,
  .sell:after {
    border-radius: 80px;
  }
  
  .sell:before {
    background-image: linear-gradient(92.83deg, #15c223 0, #00ff22 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .sell:after {
    background-color: initial;
    background-image: linear-gradient(#9df38c 0, #ffffff 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .sell:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(74, 255, 38) 0%, rrgb(19, 249, 88)100%);
  }
  
  .sell:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  
  .sell:active:not(:disabled) {
    color: #ccc;
  }
  
  .sell:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #26ff79 0, #13f973 100%);
  }
  
  .sell:active:not(:disabled):after {
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .sell:disabled {
    cursor: default;
    opacity: .24;
  }






  .SELL{
    background-color: initial;
    background-image: linear-gradient(#ff4823 0, #0c0d0d 100%);
    overflow: hidden;

    padding: 19px 26px;
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    min-height: 64px;

    

  }

  @media (min-width: 768px) {
    .SELL {
      padding: 19px 32px;
    }
  }
  
  .SELL:before,
  .SELL:after {
    border-radius: 80px;
  }
