@import url('https://fonts.cdnfonts.com/css/common-pixel');
@import url('https://fonts.cdnfonts.com/css/ds-digital');
@import url('https://fonts.cdnfonts.com/css/dollar-bill');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@800&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&display=swap');

/* .allC{ */
    /* font-family: 'Orbitron', sans-serif; */

    /* font-family: 'Oswald', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* } */



.profile_card{

width: 690px;

width: 890px;

height: 150px;

flex-shrink: 0;
left: 2%;
text-align: left;
display: flex;
flex-direction: row;
padding: 1rem;
margin: 10px;
margin-left:20px ;
border-radius: 16px;
margin-right: 24.5px;
background: #B2EDD3;
margin-bottom: 20px;
margin-top: 0px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding-right: 22.5px;
/* font-family: "Lucida Console", "Courier New", monospace; */
/* font-family: 'DS-Digital', sans-serif; */

/* font-family: 'Handjet', cursive; */
/* font-family: 'Orbitron', sans-serif; */



/*line-height: 100px ;
*/
}


.main_numberC {
    padding-left: 150px;
    padding-top: 10px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.top_textC{
    display: flex;
    flex-direction: column;
}
.top_text_headerC {
    font-size: large;
    font-weight: bold;
}
.top_text_subC{
    font-size: small;
}

.right_textC{
    margin-left: auto;
    line-height: 40px;
    padding: 10px;
    font-size: 110%;
    padding-right: 40px;
    padding-top: 20px;
}
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.owned_card{
    /* height: 400px; */
    width: 280px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(245, 230, 230, 0.48) 0%, rgba(217, 217, 217, 0.00) 100%);
    background-color: #4CAF50;
    color: #282c34;
    margin-top: 0px; 
    margin-left: 20px;
    margin-bottom: 0px;
    margin-right: 4px;
    /* transform: translateY(-140px); */

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.headerO{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    margin-top: 0px;
    margin-right: 0px;
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    border-bottom: 1px solid;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nameO{
    font-size: 15px;
    font-weight: bold;
    /* font-family: ; */
}
.status{
    /* color: rgb(33, 191, 115); */
    color: rgb(41, 167, 24);
}

.owned{
    font-size: 20px;
    font-weight: bold;
}  






.bottom_row{

    margin-top: -170px;
    margin-left: 100px;
}

.amount_input {
  /* flex-basis: 0; */
  width: 20%;
  margin-right: 20px;
  margin-left: 200px;
  
}




.amount_input [type=text]{
    /* padding: 12px 20px;
    margin: 8px 0; */
    border-radius: 40px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 4px solid #4a5a7e;
    background-color: #a7bceb;
    resize: none;
    transition: width 0.3s ease-in-out;
    box-sizing: border-box;

    
/*     
    height: 80px; */
    width: 100%;

    /* font-size: 20pt; */
    /* margin-right: 27.5%; */
    /* margin-top: 3%; */
    /* transform: translateX(10px); */

    margin-right: 6px;
    border-radius: 100px;
    padding: 7px 20px;
    font-size: 30px;
    margin: 20px;
    
    ;

    
    

    
}
.amount_inputt [type=text]:focus {
    width: 27%;
}
.amount_input{

    ::-webkit-input-placeholder{
          font-size: 20px !important;
          font-family: 'Orbitron', sans-serif;
      } 
  } 












  .buy{
    background-color: white;
    color:#4CAF50;
    border: 4px solid #4CAF50;
    margin-right: 6px;
    border-radius: 100px;
    padding: 7px 20px;
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 40px;


  
  } 

  .BUY{
  background-color: #4CAF50;
  color: #F6F6F6;

  border: 4px solid #327334;
  margin-right: 6px;
  border-radius: 100px;
  padding: 7px 20px;
  font-size: 30px;
  padding-left: ;
  margin: 20px;
  font-weight: bold;
  margin-left: 40px;


  }

  .sell{
    background-color: white;
    color:hsl(13, 100%, 50%);
    border: 4px solid hsl(13, 100%, 50%);
    margin-right: 6px;
    border-radius: 100px;
    padding: 7px 20px;
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
  }

  .SELL{
  background-color: hsl(13, 100%, 50%);
  color: #F6F6F6;
  border: 4px solid hsl(13, 81%, 31%);
  margin-right: 6px;
  border-radius: 100px;
  padding: 7px 20px;
  font-size: 30px;
  margin: 20px;
  font-weight: bold;

  } 
  
